<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	id="WebApp_9" version="2.4">

	<!-- 测试Androidhttp和client上传数据获取数据 -->
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.test.acticon.TestRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/testregister.json</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TestJson</servlet-name>
		<servlet-class>com.test.acticon.JsonService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestJson</servlet-name>
		<url-pattern>/testjson.json</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Upload</servlet-name>
		<servlet-class>com.test.acticon.Upload</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/upload.json</url-pattern>
	</servlet-mapping>

	<!-- 测试Androidhttp和client上传数据获取数据 -->

	<servlet>
		<servlet-name>UserRegister</servlet-name>
		<servlet-class>com.xh.shopping.action.UserRegister</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRegister</servlet-name>
		<url-pattern>/userregister.json</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>